# Ignore node_modules
node_modules/

# Ignore build directories
android/build/
ios/build/
android/app/build/

# Ignore coverage directory
coverage/

# Ignore Xcode specific files
ios/Pods/
ios/Podfile.lock

# Ignore fastlane directory
fastlane/

# Ignore Expo directories
.expo/
.expo-shared/

# Ignore custom directories (example)
dist/
build/

# Ignore .git and version control directories
.git/
.gitignore

# Ignore npm and Yarn lock files
package-lock.json
yarn.lock

# Ignore .eslintcache
.eslintcache

# Ignore Metro specific files
packager-info.json
packager.pid

# Ignore any other files or directories specific to your project
# (add additional patterns as needed)

# Ignore images and other assets (example)
*.png
*.jpg
*.jpeg
*.gif
*.svg
/src/assets/*
